<!DOCTYPE html>
<html lang="nl">
<head>
 <meta charset="UTF-8">
<meta name="description" content="Personal Website of Izabela Jordanoska">
<meta name="keywords" content="isabella, izabela, jordanoska, african, linguistics,semantics">
<meta name="author" content="Erlinde Meertens">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="styles/style.css" rel="stylesheet"></link>
<title>Izabela Jordanoska</title>
<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" /> 

</head>

<body>  
            <header class="header">
                <a href="index">Izabela <br> Jordanoska</a> 
            </header>

        <div class="container">
            <div>
                <img src="assets/iza.png" alt="me">  
            </div>
            <div class="content">     
                {{content}}
            </div>
            <div class ="navContainer">
                 <div class = navButton><a href="linguistics">linguistics</a></div>
                <div class = navButton><a href="poetry">poetry</a></div>
                <div class = navButton><a href="stories">stories</a></div>
            </div> 
        </div>

      
    

   

</body>
</html>
